body{
    background-image: url("./assets/images/Almight\ and\ Deku\ Wallpaper.jpg");
    width: 980px;
    margin: 50px;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.heading{
    font-family: 'Anton', sans-serif;
    color:white;
    
}

.instructions{
    font-family: 'Anton', sans-serif;
    color:white;
}
.almightNumber{
    font-family: 'Anton', sans-serif;
    color:white;
}

.gamerScore{
    font-family: 'Anton', sans-serif;
    color:white;
}
.win{
    font-family: 'Anton', sans-serif;
    color:white;
}
.lose{
    font-family: 'Anton', sans-serif;
    color:white;
}
p{
    font-family: 'Fjalla One', sans-serif;
    color:white;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
      height:100%;
    
    }
}
@media only screen and (max-width: 900px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
      height:100%;
    
    }
}

/*font-family: 'Anton', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Permanent Marker', cursive;